
<div *ngIf="dog">
    <h2><span>Dog</span> {{dog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Coretemp</span></dt>
        <dd>
            <span>{{dog.coretemp}}</span>
        </dd>
        <dt><span>Respiratoryrate</span></dt>
        <dd>
            <span>{{dog.respiratoryrate}}</span>
        </dd>
        <dt><span>Abtemp</span></dt>
        <dd>
            <span>{{dog.abtemp}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{dog.name}}</span>
        </dd>
        <dt><span>Heartrate</span></dt>
        <dd>
            <span>{{dog.heartrate}}</span>
        </dd>
        <dt><span>Maxcoretemp</span></dt>
        <dd>
            <span>{{dog.maxcoretemp}}</span>
        </dd>
        <dt><span>Maxrespiratoryrate</span></dt>
        <dd>
            <span>{{dog.maxrespiratoryrate}}</span>
        </dd>
        <dt><span>Maxabtemp</span></dt>
        <dd>
            <span>{{dog.maxabtemp}}</span>
        </dd>
        <dt><span>Maxheartrate</span></dt>
        <dd>
            <span>{{dog.maxheartrate}}</span>
        </dd>
        <dt><span>Owns</span></dt>
        <dd>
            {{dog.ownsLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dog/'+ dog.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
